*{
    margin: 0;
    padding: 0;
    margin: auto;
}
.login{
    margin-left: 70px;
}
.login h2{
    color: green;
    margin: 10px;
}
.login label{
    margin: 10px;
}
.login input{
    padding: 5px;
    width: 300px;
    

}
#ip2{
    margin-top: 20px;
}

.content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.information h2{
    color: green;
}
#ip3{
    margin: 20px;
    
}

.information input{
    padding: 5px;
    width: 300px;
}
.information select{
    padding: 10px;
    width: 300px;
    
}
.information2 h2{
    color: green;
    margin-bottom: 20px;
}
#node{
    width: 400px;
    height: 200px;
}
.gt{
    padding: 20px 0px;
}
.nn{
    margin-bottom: 20px;
}

#btn{
    background-color: green;
    text-align: center;
    padding: 10px;
    width: 100px;
    color: white;
}